<template>
  <div>
    <div class="menu" v-show="tipoReporte=='menu'">
      <img alt="Vue logo"  style="height: 10rem;" src="../assets/logo.png">
      <h1> Elije cómo deseas colaborar </h1>
      <p>
        Seleccione una opción
      </p>
      <button @click="tipoReporte='necesito'">Necesito</button>
      <br>
      <br>
      <button @click="tipoReporte='ayudo'">Ayudo</button>
    </div>

    <div class="ayudo" v-show="tipoReporte=='registroVoluntario'">
      <registrar-voluntario v-on:exit-menu="onCloseMenuAyuda"></registrar-voluntario>

    </div>

    <div class="ayudo" v-show="tipoReporte=='ayudo'">
<!--      <h1> Como puedes ayudar </h1>-->

<!--      <div class="selectWrapper">-->
<!--        <select class="selectBox" name="necesidad">-->
<!--          <option value="value1">Entregar Comida</option>-->
<!--          <option value="value2" selected>Entregar Comida</option>-->
<!--          <option value="value2" selected>Mobilizar Enfermos</option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <br>-->
<!--      <br>-->
<!--      <button @click="tipoReporte='graciasAyudo'">Enviar</button>-->
      <menu-ayudo v-on:exit-menu="onCloseMenuAyuda">
      </menu-ayudo>

    </div>

    <div class="menu" style="text-align: center" v-show="tipoReporte=='necesito'">
      <!--            <img alt="Vue logo" src="../assets/logo.png" style="height: 6rem">-->
      <h1> ¿ Que necesitas ? </h1>

      <div style="display: flex;align-items: center;justify-content: center">

        <div>
          <div class="selectWrapper">
            <select class="selectBox" v-model="tipoNecesidad" name="necesidad">
              <option value="AGU">AGUA</option>
              <option value="ALI" selected>ALIMENTOS</option>
              <option value="MED" selected>MEDICINA</option>
            </select>
          </div>
        </div>
        <div>
          <img alt="Haga click o tap" src="../assets/tap.svg" style="height: 1.5rem; padding-right: 0.5rem">
        </div>
      </div>

      <h1> ¿ Donde estás ? </h1>

      <div>
        <div v-if="ubicacionNecesito"> ( {{ubicacionNecesito.lat}} , {{ubicacionNecesito.lng}})  </div>
      </div>


      <div style="display: flex;align-items: center;justify-content: center">
        <div>
          <button @click="tipoReporte='mapaNecesito'">
            Seleccionar
          </button>
        </div>
        <div>
          <img alt="Haga click o tap" src="../assets/tap.svg" style="height: 1.5rem; padding-right: 0.5rem">
        </div>
      </div>



      <h1> ¿ Detalles ? </h1>
      <textarea v-model="detallesNecesito" id="w3mission" rows="5" cols="25"/>
      <!--    <input   placeholder="Detalles de lo que necesitas" />-->

      <div style="display: flex;align-items: center;justify-content: center">
        <div>
          <button @click="enviarSolicitudNecesito">Siguiente</button>
        </div>
        <div>
          <img alt="Haga click o tap" src="../assets/tap.svg" style="height: 1.5rem; padding-right: 0.5rem">
        </div>
      </div>

      <br>
      <br>
      <div>
        <button @click="tipoReporte='menu'"> Volver al menú</button>
      </div>
    </div>

    <div class="menu" v-show="tipoReporte=='mapaNecesito'">
      <!--            <h1>Marcar su ubicación</h1>-->


      <ubicacion-por-mapa v-on:ubicacion-selected="onUbicacionSelected" />
      <!--            {{ubicacionNecesito}}-->
      <!--            <div v-show="ubicacionNecesito!=''">-->
      <!--                <button @click="tipoReporte='necesito'">Seleccionar ubicación</button>-->
      <!--            </div>-->
    </div>

    <div class="menu" v-if="tipoReporte=='graciasAyudo'">
      <h1> GRACIAS </h1>
      <button @click="tipoReporte='menu'"> Volver al menú</button>
    </div>


    <div class="menu" v-if="tipoReporte=='graciasNecesito'">
      <h1> GRACIAS </h1>

      <button @click="tipoReporte='menu'"> Volver al menú</button>

    </div>


    <Modal v-model="stateModalErrorEnviarFormulario">
      <div class="container">
        <p>{{stateModalErrorText}}</p>
        <button
          v-on:click="cambiarEstadoModal(false)"
          class="mt-3 border-b border-teal font-semibold"
        >
          Close
        </button>
      </div>
    </Modal>
  </div>
</template>


<script>
import axios from "axios";
import UbicacionPorMapa from "./UbicacionPorMapa";
import Modal from "./Modal.vue";
import MenuAyudo from "./MenuAyudo";
import RegistrarVoluntario from "./RegistrarVoluntario";

export default {
  name: "barrios",
  components: {
    MenuAyudo,
    UbicacionPorMapa,
    RegistrarVoluntario,
    Modal
  },
  data() {
    return {
      detallesNecesito: "",
      tipoNecesidad: "",
      tipoReporte: "menu",
      ubicacionNecesito: "",
      enviarSolicitudNecesitoRestState: null,
      stateModalErrorEnviarFormulario: false,
      stateModalErrorText: ''
    };
  },
  methods: {
    onCloseMenuAyuda(event){
      console.log(event)

      console.log(event)
      if (event.action == 'quieroAyudar'){
        this.tipoReporte = "registroVoluntario";
      }else if(event.action == 'menuAyudo'){
        this.tipoReporte = "ayudo";
      }else{
        this.tipoReporte = "menu";
      }



    },

    onUbicacionSelected(event) {
      this.ubicacionNecesito = event.markerPoint;
      this.tipoReporte = "necesito";
    },
    enviarSolicitudNecesito() {
      if (this.enviarSolicitudNecesitoRestState == null) {
        this.enviarSolicitudNecesitoRestState = "loading";
        axios
          .post("/necesitoEndpoint/", {
            tipo_necesidad: this.tipoNecesidad,
            ubicacion_necesidad:
              "(" +
              this.ubicacionNecesito.lat +
              "," +
              this.ubicacionNecesito.lng +
              ")",
            detalles: this.detallesNecesito,
            documento: "",
            telefono: ""
          })
          .then(res => {
            console.log(res);
            if (res.status === 201) {
              this.tipoReporte = "graciasNecesito";
            }
            this.enviarSolicitudNecesitoRestState = null;
          })
          .catch(err => {
            // if (err.message === "Network Error") {
            // }

            this.stateModalErrorText = '' + err
            this.cambiarEstadoModal(true)

            this.enviarSolicitudNecesitoRestState = null;
          });
      } else {
        alert("chill");
      }
    },
    cambiarEstadoModal(estado){
      this.stateModalErrorEnviarFormulario = estado
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scss scoped>
.loadingRotateEffect {
  -webkit-animation: spin 500ms linear infinite;
  -moz-animation: spin 500ms linear infinite;
  animation: spin 500ms linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.primary {
  background: #00ff2bad;
}

.loadingColor {
  background: #00ff2bad;
}

select {
  font-size: 1rem;
  font-weight: 500;
  background: #46b78263 !important ;
  color: rgb(44, 62, 80);
}

select option {
  margin: 40px;
  font-size: 1rem;
  background: #46b78263 !important ;
  font-weight: 500;
  color: rgb(44, 62, 80);

  /*color: #fff;*/
  /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);*/
}

button {
  border: none;
  border-radius: 2rem;
  color: inherit;
  font-weight: 500;
  background-color: #46b78263;
  cursor: pointer;
  font-size: 1rem;
  padding: calc(1rem * 0.75) calc(1rem * 1.125);
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
}

.selectWrapper {
  border-radius: 36px;
  display: inline-block;
  overflow: hidden;
  /*background:#cccccc;*/
  /*border:1px solid #cccccc;*/
}
.selectBox {
  padding-left: 0.5rem;
  /*width:140px;*/
  height: 40px;
  border: 0px;
  outline: none;
}

h1 {
  margin-bottom: 0.5rem;
}
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
