<template>
    <section>
        <h1>Antes de Enviar</h1>
        <h2>llena los siguientes datos</h2>
        <div>
            Ayúdanos a verificar este caso y ponernos en contacto.
        </div>
        <input placeholder="Cédula"/>

    </section>
</template>

<script>
    // import GmapMap from ''
    export default {
        name: 'identificar-caso',
        data() {
            return {
            }
        },
        mounted(){

        },
        methods: {
            ubicacionSelected(){
            },
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scss scoped>
    button {
        border: none;
        border-radius: 2rem;
        color: inherit;
        font-weight: 500;
        background-color: #46b78263;
        cursor: pointer;
        font-size: 1rem;
        padding: calc(1rem * .75 ) calc( 1rem * 1.125 );
        outline: none;
        text-decoration: none;
        text-transform: uppercase;
    }
</style>
