<template>
    <section>

        <h1>Marcar su ubicación</h1>
        <div>
            <button @click="cargarUbicacionNecesito">Cargar por GPS</button>


            <div>
                es más rápipo.<br>
                --o--
            </div>
<div> Selecciona tu ubicación moviendo el marcador en el mapa.</div>
        </div>


<!--        {{ubicacionNecesito}}-->





<div style="    display: flex;
    justify-content: center;">


    <GmapMap

            ref="mapRef"
            :center="{lat:-0.18065319999999999, lng:-78.4678382}"

            :zoom="7"
            map-type-id="terrain"
            style="width: 500px; height: 300px"






            :options="{
   zoomControl: true,
   mapTypeControl: false,
   scaleControl: false,
   streetViewControl: false,
   rotateControl: false,
   fullscreenControl: true,
   disableDefaultUi: false
 }"
    >
        <!--                :key="index"-->
        <!--                v-for="(m, index) in markers"-->
        <!--                :position="{lat:-0.18065319999999999, lng:-78.4678382}"-->

        <GmapMarker
                :position="markerPoint"
                :clickable="true"
                :draggable="true"
                @click="console.log(position)"
                @drag="updateCoordinates"
        />

    </GmapMap>



</div>
        {{markerPoint}} <br>

        <br>

        <div v-show="ubicacionNecesito!=''">
            <button @click="ubicacionSelected">Seleccionar ubicación</button>
        </div>


    </section>
</template>

<script>
    // import GmapMap from ''
    export default {
        name: 'ubicacion-por-mapa',
        data() {
            return {
                ubicacionNecesito: null,
                markerPoint : {lat:-0.18065319999999999, lng:-78.4678382}
            }
        },
        mounted(){
            this.$refs.mapRef.$mapPromise.then((map) => {
                map.panTo(this.markerPoint)
            })

        },
        methods: {
            ubicacionSelected(){

                this.$emit("ubicacion-selected", {markerPoint: this.markerPoint});


            },
            updateCoordinates(location) {
                    this.markerPoint = {lat:location.latLng.lat(), lng:location.latLng.lng()}
            },

            cargarUbicacionNecesito() {
                this.$getLocation({
                    enableHighAccuracy: true, //defaults to false
                    timeout: Infinity, //defaults to Infinity
                    maximumAge: 0 //defaults to 0

                })
                    .then(coordinates => {
                        this.ubicacionNecesito = coordinates




                        this.markerPoint = {lat: coordinates.lat, lng:coordinates.lng}

                        this.$refs.mapRef.$mapPromise.then((map) => {
                            map.panTo(this.markerPoint)
                        })



                        // console.log(coordinates);
                        // console.dir(coordinates);
                    });
            },


            aceptarUbicacion() {
            },
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scss scoped>
    button {
        border: none;
        border-radius: 2rem;
        color: inherit;
        font-weight: 500;
        background-color: #46b78263;
        cursor: pointer;
        font-size: 1rem;
        padding: calc(1rem * .75 ) calc( 1rem * 1.125 );
        outline: none;
        text-decoration: none;
        text-transform: uppercase;
    }

</style>
